@font-face {
    font-family: 'Monaspace';
    src: url('./fonts/Monaspace-Regular.woff2') format('woff2'),
    font-weigh: tnormal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monaspace', monospace;
}

:root {
    font-size: 16px;
}

body {
    background: #c0c0c0;
    color: #000000;
}

.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilização da seção de Login*/
.login {
    width: 100%;
    max-width: 330px;
    background-color: #f0f0f0;
    border: 2px solid #808080; 
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    box-shadow: inset -2px -2px 5px #ffffff, inset 2px 2px 5px #a0a0a0; 
}

.login__form input {
    display: block;
    width: 100%;
    margin: 10px 0;
}

#username-input {
    width: 100%;
    border: 2px solid #808080;
    padding: 8px;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: #dcdcdc; 
    outline: none;
    border-radius: 4px;
    color: #000000;
    box-shadow: inset -1px -1px 2px #ffffff, inset 1px 1px 2px #808080;
}

#username-input:focus {
    border-color: #000080; 
}

#register {
    border: 2px solid #808080;
    width: 50%;
    margin-top: 20px;
    padding: 8px;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: #dcdcdc;
    cursor: pointer;
    color: #000;
    box-shadow: inset -2px -2px 4px #ffffff, inset 2px 2px 4px #808080;
}

#register:hover {
    background-color: #c0c0c0;
}

.login__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50px;
    background: #d9e6e7;
    padding: 10px;
    border: 2px solid #808080;
    box-shadow: inset -2px -2px 4px #ffffff, inset 2px 2px 4px #808080;
}

/*Estilização da seção de escolha de chat room*/
.chat-room {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 500px;
    background-color: #f0f0f0;
    border: 2px solid #808080; 
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    box-shadow: inset -2px -2px 5px #ffffff, inset 2px 2px 5px #a0a0a0;
    margin-top: 20px;
}

.chat-room h2 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #000;
}

.chat-room__list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.chat-room__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dcdcdc;
    border: 2px solid #808080;
    border-radius: 4px;
    padding: 8px 12px;
    margin-bottom: 10px;
    box-shadow: inset -1px -1px 3px #ffffff, inset 1px 1px 3px #808080;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.chat-room__item:hover {
    background-color: #c0c0c0;
}

.chat-room__name {
    font-size: 0.9rem;
}

.chat-room__delete {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem; 
    transition: transform 0.2s ease;
}

.chat-room__delete:hover {
    transform: scale(1.6);
}

#create-room {
    border: 2px solid #808080;
    width: 30%;
    padding: 8px;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: #dcdcdc;
    cursor: pointer;
    color: #000;
    box-shadow: inset -2px -2px 4px #ffffff, inset 2px 2px 4px #808080;
    transition: background-color 0.2s ease;
}

#create-room:hover {
    background-color: #c0c0c0;
}

.chat-room__delete img {
    height: 20px;
    width: 20px;
}

/*Estilização da seção de criar chat room*/
.create-room {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 500px;
    background-color: #f0f0f0;
    border: 2px solid #808080; 
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    box-shadow: inset -2px -2px 5px #ffffff, inset 2px 2px 5px #a0a0a0;
    margin-top: 20px;
}

.create-room h2 {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #000;
}

#create-room-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    text-align: left;
    color: #000;
}

#create-room-form input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid #808080;
    padding: 8px;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: #dcdcdc; 
    outline: none;
    border-radius: 4px;
    color: #000000;
    box-shadow: inset -1px -1px 2px #ffffff, inset 1px 1px 2px #808080;
}

#create-room-form input:focus {
    border-color: #000080; 
}

#create-room-form button {
    border: 2px solid #808080;
    width: 45%;
    margin: 5px;
    padding: 8px;
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: #dcdcdc;
    cursor: pointer;
    color: #000;
    box-shadow: inset -2px -2px 4px #ffffff, inset 2px 2px 4px #808080;
    transition: background-color 0.2s ease;
}

#create-room-form button:hover {
    background-color: #c0c0c0;
}

.hidden {
    display: none;
}


/*Estilzação do Chat*/
.chat {
    background-color: #f9f9f9;
    width: 100%; 
    max-width: 1000px; 
    height: 85dvh; 
    min-height: 500px; 
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; 
    position: absolute no form resolvem;
    border: 2px solid #808080;
    box-shadow: inset -2px -2px 5px #ffffff, inset 2px 2px 5px #808080;
    border-radius: 8px;
    overflow: hidden;
}

.chat__form {
    width: 100%;
    background-color: #dcdcdc;
    padding: 15px 20px;
    display: flex;
    gap: 10px; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    z-index: 10;
    border-top: 2px solid #808080; 
    box-shadow: inset -2px -2px 4px #ffffff, inset 2px 2px 4px #808080;
}

.chat__messages {
    flex-grow: 1;
    overflow-y: auto;  
    display: flex;
    flex-direction: column;              
    justify-content: flex-end; 
}

/*Estilização do input de envio de mensagens*/
#chat-input {
    border: 2px solid #9c9c9c;
    padding: 10px 15px;
    border-radius: 4px;
    flex-grow: 1; 
    background-color: #e6e6e6;
    outline: none;
    color: #333333;
    font-size: 1rem;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2), inset -1px -1px 3px rgba(255, 255, 255, 0.7);
    transition: all 0.2s ease-in-out;
}

#chat-input:focus {
    border-color: #7c7b7b;
    background-color: #f0ebeb;
}

#send_message {
    border: 2px solid #808080;
    background-color: #dcdcdc;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset -2px -2px 4px #ffffff, inset 2px 2px 4px #808080;
}

#send_message:hover {
    background-color: #bebdbd;
}

#send_message:active {
    background-color: #b0b0b0;
    box-shadow: inset 1px 1px 3px #808080, inset -1px -1px 3px #ffffff;
    transform: translateY(1px);
}

#send_message img {
    height: 20px;
    width: 20px;
}

#exit-room {
    position: absolute;
    top: 5px;     
    right: 5px;  
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 10;
}

#exit-room:hover {
    background-color: rgba(231, 76, 60, 0.1);
}

#exit-room img {
    width: 40px;
    height: 40px;
    display: block;
}


/*Estilização das Mensagens Enviadas*/
.chat__message {
    max-width: 75%; 
    line-height: 1.4; 
    font-size: 0.95rem;
    margin-bottom: 10px; 
    padding: 10px 15px;
}

.message__time {
    color: #888;
    font-size: 0.75rem;
    margin-right: 8px;
    font-weight: 400;
}

.message__user {
    color: #004d99; 
    font-weight: 700;
    margin-right: 8px;
}

.message__text {
    color: #333;
}


.message--self {
    align-self: flex-end; 
    text-align: right; 
}


.message--other {
    align-self: flex-start; 
    text-align: left;
}






