<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CLIENTE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        window.onload = function() {
            var socketio = io();

            // registro do cliente
            const client = {name : "sade", room_id : "" };


            socketio.on("get_rooms", (rooms) => {
                console.log("Salas disponíveis:");
                rooms.forEach((element) => console.log(`${element["name"]}, ${element["clients"].length} conectados`));
                if (rooms.length > 0) {
                    client.room_id = rooms[0]["id"]; // emulando a seleção de sala
                    console.log(client.room_id);
                }
            });

            socketio.on("load_room", (roomData) => {
                console.log(`Sala: ${roomData["name"]}\nPessoas nessa sala: ${roomData["clients"].length}\nMensagens:`);
                roomData["messages"].forEach((element) => {console.log(`[${element["author"]}]: ${element["content"]} - ${element["timeStamp"]}`);});
            });

            socketio.on("get_message", (msg) => {
                console.log(`Olha a mensagem! ${msg}`);
            });


            document.getElementById("register").addEventListener("click", () => {
                socketio.emit("register", {client_name : client.name});
            });
            document.getElementById("create_room").addEventListener("click", () => {
                socketio.emit("create_room", {room_name : "sessão gratuita de psicanálise"});
            });
            document.getElementById("enter_room").addEventListener("click", () => {
                socketio.emit("enter_room", {room_id : client.room_id});
            });
            document.getElementById("send_message").addEventListener("click", () => {
                socketio.emit("send_message", {content : "never as good as the first time"});
            });
            document.getElementById("leave_room").addEventListener("click", () => {
                socketio.emit("leave_room");
            });
            document.getElementById("remove_room").addEventListener("click", () => {
                socketio.emit("remove_room", {room_id : client.room_id});
            });
        }
    </script>

    <section class="container">

        <!-- Login -->
        <section class="login">
            <img src="img/user_icon.png" alt="User Icon" class="login__icon">
            <form class="login__form">
                <input type="text" id="username-input" placeholder="Digite seu nome" required />
            </form>   
            <button type="submit" id="register">Entrar</button>
        </section>

        <!-- Seleção de Chat -->
        <section class="chat-room">
            <h2>SALAS</h2>
            
            <ul class="chat-room__list">
                <li class="chat-room__item" data-room="124">
                    <span class="chat-room__name">Sala 124</span>
                    <button class="chat-room__delete" data-room="124">
                        <img src="img/delete.png" alt="">
                    </button>
                </li>
            </ul>

            <button id="create-room">Nova Sala</button>
        </section>

        <!--Criando Nova Sala de Chat-->
        <section class="create-room hidden">
            <h2>Criar Nova Sala</h2>
            <form id="create-room-form">
                <label for="room-name">Nome da Sala:</label>
                <input type="text" id="room-name" name="room-name" required>
                
                <button type="submit">Criar</button>
                <button type="button" id="cancel-create">Cancelar</button>
            </form>
        </section>
        


        <!-- Chat -->
        <section class="chat">
            <section class="chat__messages"> 
                <div class="chat__message message--self">
                    <span class="message__time"></span>
                    <span class="message__user"></span>
                    <span class="message__text"></span>
                </div>
        
                <div class="chat__message message--other">
                    <span class="message__time">[11:50]</span>
                    <span class="message__user">TESTE</span>
                    <span class="message__text">Olá mundo</span>
                </div>

                <form class="chat__form">
                    <input type="text" id="chat-input" placeholder="Digite uma mensagem" required />
                    <button type="submit" id="send_message">
                        <img src="img/send.png" alt="send Icon">
                    </button>
                </form>
            </section> 
        </section>
            

    </section>

    <script src="script.js"></script>
</body>
</html>