<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CLIENTE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        window.onload = function() {
            var socketio = io("http://127.0.0.1:5000"); // 

            // registro do cliente
            const client = {name : "sade" };
            const room = {room_id : ""}; // TODO: ao entrar na sala, registrar o id dela


            socketio.on("get_rooms", (rooms) => {
                console.log("Salas disponíveis:");
                rooms.forEach((element) => console.log(`${element[0]}, ${element[1].length} conectados`));
                console.log();
            });

            socketio.on("load_room", (roomData) => {
                console.log(`Sala: ${roomData["name"]}\nPessoas nessa sala: ${roomData["clients"].length}\nMensagens:`);
                roomData["messages"].forEach((element) => {console.log(`[${element[0]}]: ${element[1]} - ${element[2]}`);});
            });

            socketio.on("get_message", (msg) => {
                console.log(`Olha a mensagem! ${msg}`);
            });


            document.getElementById("register").addEventListener("click", () => {
                socketio.emit("register", {client_name : client.name});
            });
            document.getElementById("create_room").addEventListener("click", () => {
                socketio.emit("create_room", {room_name : "sessão gratuita de psicanálise"});
            });
            document.getElementById("enter_room").addEventListener("click", () => {
                socketio.emit("enter_room", {room_id : "id0"});
            });
            document.getElementById("send_message").addEventListener("click", () => {
                socketio.emit("send_message", {content : "never as good as the first time"});
            });
            document.getElementById("leave_room").addEventListener("click", () => {
                socketio.emit("leave_room");
            });
            document.getElementById("remove_room").addEventListener("click", () => {
                socketio.emit("remove_room", {room_id : "id0"});
            });
        }
    </script>

    <section class="container">

        <!-- Login -->
        <section class="login">
            <img src="img/user_icon.png" alt="User Icon" class="login__icon">
            <form class="login__form">
                <input type="text" id="username-input" placeholder="Digite seu nome" required />
            </form>   
            <button type="submit" id="register">Entrar</button>
        </section>

        <!-- Seleção de Chat -->
        <section class="chat-room">
            <h2>Salas Disponíveis</h2>
            
            <ul class="chat-room__list">
                <li class="chat-room__item" data-room="124">
                    <span class="chat-room__name">Sala 124</span>
                    <button class="chat-room__delete" data-room="124">🗑️</button>
                </li>
                <li class="chat-room__item" data-room="57">
                    <span class="chat-room__name">Sala 57</span>
                    <button class="chat-room__delete" data-room="57">🗑️</button>
                </li>
            </ul>

            <button id="create-room">Criar Nova Sala</button>
        </section>

        <!-- Chat -->
        <section class="chat">
            <section class="chat__messages"> 
                <div class="chat__message message--self">
                    <span class="message__time">[10:20]</span>
                    <span class="message__user">Rute:</span>
                    <span class="message__text">Oii gente</span>
                </div>
        
                <div class="chat__message message--other">
                    <span class="message__time">[10:21]</span>
                    <span class="message__user">Teste:</span>
                    <span class="message__text">Olá, Mundo!</span>
                </div>
            </section>

            <form class="chat__form">
                <input type="text" id="chat-input" placeholder="Digite uma mensagem" required />
                <button type="submit" id="send_message">
                    <img src="img/send.png" alt="send Icon">
                </button>
            </form> 
        </section>
            

    </section>

    <!-- <button id="create_room" >Criar sala</button>
    <button id="remove_room" >Deletar sala</button>
    <button id="enter_room" >Entrar na sala</button>
    <button id="leave_room" >Sair da sala</button>
    <button id="send_message" >Enviar</button> -->
    
</body>
</html>